In [1]:
lst1 = ["ABC", 123, 456]                              #LISTS

In [2]:
lst2 = ["DEF", 456]

In [6]:
len(lst1)

3

In [7]:
len(lst2)

2

In [11]:
lst3 = [123, 456, 12345]

In [12]:
max(lst3)

12345

In [13]:
min(lst3)

123

In [19]:
tup1 = ("xyz", 123, "abcd")

In [20]:
list(tup1)              #Converts tupple into list

['xyz', 123, 'abcd']

# Tupple

In [21]:
tup = ('xyz', 123, 'abcd', 2345)

In [22]:
len(tup)

4

In [24]:
tup1 = (123, 2, 4, 6, 8)

In [25]:
min(tup1)

2

In [26]:
max(tup1)

123

In [27]:
lst6 = ['asdf', 'defg', 1244]

In [28]:
tuple(lst6)

('asdf', 'defg', 1244)

In [29]:
len(tup1)

5

# Dictionary

In [30]:
dict1 = {'name':"abcd",'number':12345, 'roll_number':12}

In [31]:
len(dict1)

3

In [32]:
str(dict1)

"{'name': 'abcd', 'number': 12345, 'roll_number': 12}"

In [34]:
dict2 = {'marks':100, 'grade':'A+'}

In [35]:
dict1.update(dict2)

In [36]:
dict1

{'name': 'abcd',
 'number': 12345,
 'roll_number': 12,
 'marks': 100,
 'grade': 'A+'}

In [42]:
dict1.get('name', "Never")

'abcd'

In [43]:
dict1.get('surname', "Never")

'Never'

In [48]:
keys = {'name', 'surname', 'roll number', 'age'}

In [49]:
dict1.fromkeys(keys)

{'roll number': None, 'age': None, 'name': None, 'surname': None}

In [51]:
dict1.fromkeys(keys, 'abcd')

{'roll number': 'abcd', 'age': 'abcd', 'name': 'abcd', 'surname': 'abcd'}

# Strings

In [52]:
str1 = "LetsUpgrade"

In [53]:
substr = "Upgrade"

In [55]:
str1.count(substr,4,11)

1

In [56]:
substr1 = "Do..it"

In [57]:
str1.count(substr1)

0

In [58]:
str1.endswith(substr)

True

In [59]:
str1.endswith(substr1)

False

In [62]:
str1.find(substr,0,len(str1))

4

In [63]:
str1.index(substr1, 0, len(str1))

ValueError: substring not found

In [64]:
str1.index(substr, 0, 3)

ValueError: substring not found

In [65]:
str1.index(substr, 0, len(str1))

4

In [66]:
str1.isalpha()

True

In [67]:
str1.isalnum()

True

In [71]:
str1.isspace()

False

# Sets

In [72]:
set1 = {"abc", "d", "e", 1, 2, 3}

In [73]:
set2 = {'a', 'd', 'e', 1, 4, 2}

In [74]:
set1.issubset(set2)

False

In [75]:
set3 = set1.difference(set2)

In [76]:
set3

{3, 'abc'}

In [79]:
set4 = set2.difference(set1)

In [80]:
set4

{4, 'a'}

In [86]:
set1 = {"abc", "d", "e", 1, 2, 3}

In [87]:
set2 = {'a', 'd', 'e', 1, 4, 2}

In [88]:
set5 = set1.intersection(set2)

In [89]:
set5

{1, 2, 'd', 'e'}

In [91]:
set6 = set1.symmetric_difference(set2)

In [92]:
set6

{3, 4, 'a', 'abc'}

In [98]:
set1.union(set2)

{1, 2, 3, 4, 'a', 'abc', 'd', 'e'}

In [99]:
set2.update(set6)

In [100]:
set2

{1, 2, 3, 4, 'a', 'abc', 'd', 'e'}